---
---

<section class="mt-[120px]">
    <div class="card p-[24px] rounded-[20px] border-[1px] border-white/30 flex items-center w-[60%]">
        <div class="w-[60%]">
            <h3 class="italic mb-[30px]">Agencia</h3>
            <p class="mb-[20px] block">Estamos aquí para destacarte, impulsar tu presencia en redes y ayudarte a conectar con tus futuros clientes</p>
            <p>creando con ellos una comunidad. Desde estrategias en Instagram, gestión y creación de contenidos para Tiktok hasta campañas publicitarias eficaces.</p>

        </div>
        <img  
            class="w-[500px] rounded-[20px] rotate-[-5deg]"
            src="/agencia__hero.webp" alt="hero">
    </div>
</section>

<style>
    .card{
        background: linear-gradient(to top, rgba(220, 243, 255, 0.174), rgba(255, 255, 255, 0.078))
    }

</style>