---
---

<section class="mt-[120px] overflow-hidden">
    <ul class="marcas flex items-center gap-[40px] w-[300%] max-sm:w-[700%]">
        <li class="flex justify-center items-center w-[10vw] max-sm:w-[30vw]">
            <img class="w-full object-cover" src="/marcas__1.png" alt="marcas">
        </li>
        <li class="flex justify-center items-center w-[10vw] max-sm:w-[30vw]">
            <img class="w-full object-cover" src="/marcas__2.png" alt="marcas">
        </li>
        <li class="flex justify-center items-center w-[10vw] max-sm:w-[30vw]">
            <img class="w-full object-cover" src="/marcas__3.png" alt="marcas">
        </li>
        <li class="flex justify-center items-center w-[10vw] max-sm:w-[30vw]">
            <img class="w-full object-cover" src="/marcas__4.png" alt="marcas">
        </li>
        <li class="flex justify-center items-center w-[10vw] max-sm:w-[30vw]">
            <img class="w-full object-cover" src="/marcas__5.png" alt="marcas">
        </li>
        <li class="flex justify-center items-center w-[10vw] max-sm:w-[30vw]">
            <img class="w-full object-cover" src="/marcas__6.png" alt="marcas">
        </li>
        <li class="flex justify-center items-center w-[10vw] max-sm:w-[30vw]">
            <img class="w-full object-cover" src="/marcas__7.png" alt="marcas">
        </li>
        <li class="flex justify-center items-center w-[10vw] max-sm:w-[30vw]">
            <img class="w-full object-cover" src="/marcas__8.png" alt="marcas">
        </li>
        <li class="flex justify-center items-center w-[10vw] max-sm:w-[30vw]">
            <img class="w-full object-cover" src="/marcas__9.png" alt="marcas">
        </li>
        <li class="flex justify-center items-center w-[10vw] max-sm:w-[30vw]">
            <img class="w-full object-cover" src="/marcas__1.png" alt="marcas">
        </li>
        <li class="flex justify-center items-center w-[10vw] max-sm:w-[30vw]">
            <img class="w-full object-cover" src="/marcas__2.png" alt="marcas">
        </li>
        <li class="flex justify-center items-center w-[10vw] max-sm:w-[30vw]">
            <img class="w-full object-cover" src="/marcas__3.png" alt="marcas">
        </li>
        <li class="flex justify-center items-center w-[10vw] max-sm:w-[30vw]">
            <img class="w-full object-cover" src="/marcas__4.png" alt="marcas">
        </li>
        <li class="flex justify-center items-center w-[10vw] max-sm:w-[30vw]">
            <img class="w-full object-cover" src="/marcas__5.png" alt="marcas">
        </li>
        <li class="flex justify-center items-center w-[10vw] max-sm:w-[30vw]">
            <img class="w-full object-cover" src="/marcas__6.png" alt="marcas">
        </li>
        <li class="flex justify-center items-center w-[10vw] max-sm:w-[30vw]">
            <img class="w-full object-cover" src="/marcas__7.png" alt="marcas">
        </li>
        <li class="flex justify-center items-center w-[10vw] max-sm:w-[30vw]">
            <img class="w-full object-cover" src="/marcas__8.png" alt="marcas">
        </li>
        <li class="flex justify-center items-center w-[10vw] max-sm:w-[30vw]">
            <img class="w-full object-cover" src="/marcas__9.png" alt="marcas">
        </li>
    </ul>
</section>

<style>
    .marcas{
        animation: marcas 30s infinite linear alternate
    }
    @keyframes marcas {
        100%{
            transform: translateX(-40%);
        }
        
    }
</style>