---
import GridCard from "./GridCard.astro";
import Title from "../Title.astro";
---

<!-- GRID SERVICIOS -->
<section class="mt-[120px] px-[40px] max-lg:px-[20px]">

    <!-- GRID -->
    <div class="flex flex-wrap gap-[20px]">
        <GridCard
            img="grid__1.png"
         />
        <GridCard
            img="grid__2.png"
         />
        <GridCard
            img="grid__3.jpg"
         />
        <GridCard
            img="grid__4.jpg"
         />
        <GridCard
            img="grid__5.jpg"
         />
    </div>

</section>