---
import GridCard from "./GridCard.astro";
import Title from "../Title.astro";
---

<!-- GRID SERVICIOS -->
<section class="mt-[120px] px-[40px] max-lg:px-[20px]">
    <!-- TITLE -->
     <div class="flex flex-wrap justify-between mb-[50px]">
        <h3 class="italic">Servicios</h3>
        <p class="max-w-[500px]">Nuestro diseño centrado en el usuario fomenta la productividad y aumenta los ingresos.</p>
     </div>

    <!-- GRID -->
    <div class="flex flex-wrap gap-[20px]">
        <GridCard
            img="grid__1.avif"
            title="SpinApp (Aplicación giratoria)"
            description="Desarrollo web para la plataforma de juegos Web3 con activos impulsados por la comunidad, economía descentralizada y experiencia gamificada"
         />
        <GridCard
            img="grid__2.avif"
            title="Botella Haus"
            description="Desarrollo de sitios web para Bottle-Haus, minorista líder en línea de licores alcohólicos finos"
         />
        <GridCard
            img="grid__3.avif"
            title="Diseño de UI UX y desarrollo móvil para aplicaciones Fintech"
            description="En Syfter App, facilitamos a las personas la inversión en criptomonedas y activos del mercado de valores con su interfaz fácil de usar y su experiencia interactiva de deslizamiento"
         />
        <GridCard
            img="grid__4.avif"
            title="Diseño y desarrollo de aplicaciones móviles para NFT Marketplace"
            description="Creamos un diseño elegante para la aplicación nft que lleva el mercado nft directamente al teléfono inteligente de los usuarios, lo que les permite intercambiar tokens y compartirlos con sus amigos."
         />
        <GridCard
            img="grid__5.avif"
            title="Diseño y desarrollo modernos de aplicaciones de comercio electrónico"
            description="Retlify: es una aplicación de comercio electrónico que amplía los límites de usuarios y vendedores ofreciéndoles una experiencia de compra interactiva e innovadora."
         />
    </div>

</section>