---
const { title, description } = Astro.props;
---

<!-- ACORDION FAQS -->
<article class="relative p-[14px] rounded-[17px] border-[1px] border-white/30  cursor-pointer w-full">
    <!-- TITLE -->
    <p class="flex items-center justify-between gap-[20px]">{title}<svg  class="rotate-[45deg]"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="1.5"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-x"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M18 6l-12 12" /><path d="M6 6l12 12" /></svg></p>
    <label for="active"></label>
    <input 
        class="acordion__checked absolute top-0 left-0 w-full h-full z-30 opacity-0 cursor-pointer" 
        type="checkbox" 
        id="active">

    <!-- DESCRPTION -->
    <div class="acordion opacity-70">
        <p class="block">{description}</p>
    </div>
</article>

<style>
    .acordion{
        display: none;
        transition: all .3s;
    }
    .acordion__checked:checked + .acordion{
        display: block ;
        margin-top: 20px;
    }

</style>