---
import Btn from "../Btn.astro"
---

<!-- HERO INDEX -->
<section class="relative z-20 w-full h-screen max-sm:h-[120vw]">
    <!-- VIDEO -->
    <video 
        class="w-full h-full"
        src="/video.mp4"
        autoplay
        loop
        muted></video>
        <div class="absolute bottom-[-20%] w-full">
            <img 
                class="w-[90%] mx-auto"
                src="/hero__title.png" 
                alt="">
            <!-- TITLE, DESCRIPTION -->
            <div class="flex flex-col items-end px-[20px] w-[90%]">
                <div class="">
                    <p class="max-w-[700px] block mb-[30px]">
                        ¡Bienvenido a Kaoticode! Somos expertos en desarrollo digital, especializados en crear aplicaciones y páginas web que destacan. Con tecnología de vanguardia y un enfoque ágil, transformamos tus ideas en experiencias digitales excepcionales. ¡Haz que tu visión cobre vida con nosotros!
                    </p>
                    <Btn 
                        title="Comprar codigos"
                        href=""
                    />
                </div>
                
            </div>
        </div>
</section>

<style>
    video,
    img{
        mix-blend-mode: difference;
    }
</style>