---
import ServiciosCard from "./ServiciosCard.astro"
import MaxWidth from "../../layouts/MaxWidth.astro"
---

<!-- INDEX SERVICIOS -->

<section class="relative z-10 mt-[120px]">
    <!-- BLUR -->
    <div class="-z-10 w-[300px] h-[300px] bg-purple-600 rounded-full absolute top-[100px] left-[100px] blur-[150px] opacity-100 max-xl:w-[100px] max-xl:h-[100px] max-xl:blur-[60px]"></div>
    <!-- BLUR -->
     <div class="-z-10 w-[400px] h-[400px] bg-blue-600 rounded-full absolute bottom-[200px] right-[100px] blur-[200px] opacity-100 max-xl:w-[100px] max-xl:h-[100px] max-xl:blur-[60px]"></div>
    <!-- BLUR -->
     <div class="-z-10 w-[400px] h-[400px] bg-purple-600 rounded-full absolute top-[-100px] right-[-100px] blur-[200px] opacity-100 max-xl:w-[60px] max-xl:h-[60px] max-xl:blur-[220px]"></div>
    <!-- BLUR -->
     <div class="-z-10 w-[400px] h-[400px] bg-purple-600 rounded-full absolute bottom-[-100px] left-[20%] blur-[200px] opacity-100 max-xl:w-[60px] max-xl:h-[60px] max-xl:blur-[220px]"></div>

     <MaxWidth>
         <!-- TILE -->
         <div class="z-10 relative mb-[80px] block max-sm:mb-[30px]">
             <h1 class="">En nuestro estudio, <span class="font__secundary uppercase italic"> la creatividad son </span>las soluciones que superan las expectativas.</h1>
         </div>
         <div class="flex justify-between items-end flex-wrap">
             <h4>Servicios</h4>
             <p class="max-w-[400px] block">Tiene la opción de pedir cualquiera de los dos Un sitio web completo creación o servicios individuales según sea necesario.</p>
         </div>    
         <ServiciosCard
             
          />
    </MaxWidth>   
</section>

