---
const {title} = Astro.props;
---

<!-- TITLE SERVICIOS PROYECTOS AGENCIA -->
<div class="relative w-full flex justify-center items-center overflow-hidden">
        <!-- TITLE -->
    <div class=" pt-[220px] z-10 slider__title flex items-center gap-[30px] text-nowrap font-bold max-sm:bottom-[0px]">
        <h1 class="italic">{title}</h1>

    </div>
</div>

<style>
    h1{
        font-size: 15rem;
        line-height: 200px;
    }
    @media screen and (max-width: 1600px){
        h1{
            font-size: 8rem;
            line-height: 130px
        }
    }
    @media screen and (max-width: 1100px){
        h1{
            font-size: 4rem;
            line-height: 60px
        }
    }
</style>
