---
import Btn from "./Btn.astro";
---

<header class="fixed top-0 p-[20px] z-50 w-full">
    <nav class="flex items-center justify-between">
        <!-- BAR NAV LEFT -->
        <ul>
            <li>
                <a 
                    class="font__h1 italic flex items-center"
                    href="/">
                    <img  
                        class="w-[40px] max-sm:w-[20px]"
                        src="/diamante.avif" 
                        alt="logo">
                    <img 
                        class="w-[120px] max-sm:w-[80px]" 
                        src="/hero__title.png" 
                        alt="">  
                </a>
            </li>
        </ul>

        <!-- BAR NAV RIGHT -->
        <ul class="flex items-center">
            <li>
                <Btn 
                    href="/servicios"
                    title="Servicios"
                />
            </li>
            <li>
                <Btn 
                    href="/proyectos"
                    title="Proyectos"
                />
            </li>
            <li>
                <Btn 
                    href="/agencia"
                    title="Agencia"
                />
            </li>

        </ul>
    </nav>
</header>

