---
import FooterBtn from "./FooterBtn.astro"
---

<footer class="mt-[200px] border-t-[1px] border-white/30 py-[120px]">
    <div class="flex gap-[20px] justify-between max-sm:flex-wrap">
        <div class="w-[25%] max-sm:w-[40%]">
            <p class="uppercase italic font-semibold block mb-[20px]">Kaoticode</p>
            <p>Bienvenido a kaoticode, la empresa de soluciones tecnológica que demuestra con proyectos reales lo que es capaz de crear</p>
    
        </div>
        <div class="w-[25%] max-sm:w-[40%]">
            <p class="uppercase italic font-semibold block mb-[20px]">Comunidad</p>
            <FooterBtn 
                href=""
                title="Komunly"
            />
            <FooterBtn 
                href=""
                title="Instagram"
            />
            <FooterBtn 
                href=""
                title="WhatsApp"
            />
            <FooterBtn 
                href=""
                title="Discord"
            />
        </div>
        <div class="w-[25%] max-sm:w-[40%]">
            <p class="uppercase italic font-semibold block mb-[20px]">enlaces útiles</p>
            <FooterBtn 
                href=""
                title="Proceso de dessrrollo"
            />
            <FooterBtn 
                href=""
                title="Comprar código"
            />
            <FooterBtn 
                href=""
                title="Torneo"
            />
            <FooterBtn 
                href=""
                title="Trabaja con nosotros"
            />
        </div>
        <div class="w-[25%] max-sm:w-[40%]">
            <p class="uppercase italic font-semibold block mb-[20px]">Proyectos</p>
            <FooterBtn 
                href=""
                title="Komunly"
            />
            <FooterBtn 
                href=""
                title="Katicum"
            />
            <FooterBtn 
                href=""
                title="Información"
            />
            <FooterBtn 
                href=""
                title="Klickum"
            />
        </div>
    </div>
    <p class="block mt-[50px]">Todos los derechos reservados a Kaoticode 2024</p>

</footer>