---
---

<!-- PORTFOLIOS -->
<section class="overflow-hidden py-[170px] max-sm:py-[40px] max-sm:mb-[-200px]">
    <div class=" relative block overflow-hidden  scale-[2] py-[100px]">
        <ul class="w-full rotate-[-3deg]">
            <img 
                class=""
                src="/portfolio.avif" 
                alt="portfolios">
        </ul>
    </div>
</section>